%h1 Контакти
%p Якщо Ви бажаєте потеревенити про книжки або ще про щось, ось мої контакти:
%br
%p.contacts Email: #{mail_to 'denys.medynskyi@gmail.com'}
%p.contacts Skype: #{link_to 'penay3', 'skype:penay3?call'}
<object width="300" height="30" data="mini_player.swf" type="application/x-shockwave-flash"><param name="movie" value="mini_player.swf" /><param name="flashvars" value="path_mp3=utro.mp3&name_mp3=Пер Гюнт - Ранок&cbf=0x000000&cb=0xffffff&cif=0xcccccc&ci=0x000000&cbuf=0xdddddd&ct=0x000000&auto=yes"/><param name="wmode" value="transparent"/></object> 