%h1 Домашня сторінка

%p Цей сайт створений для людей, які цікавляться літературою ХХ століття, та літературою загалом.

%p Якщо Ви бажаєте пропустити всі ці ліричні відступи, то ви можете #{link_to 'перейти до читання', posts_path}.

%p На цьому сайті Ви можете знайти біографіїї найкращих письменників ХХ століття, а також рецензії на деякі їхні твори. Ви можете побачити список всіх письменників разом з преміями, які вони отримали.


%p Ви можете запропонувати будь-яку статтю звязанану з темою сайту на сторінці #{link_to 'контактів', contacts_path}.


%p Якщо Ви читаєте цей текст, то Ви або мій одногрупник, якому я хвалюсь майже-не-криво зробленим сайтом, або Андрій Петрович Сеник, який перевіряє мою роботу)</p>

