%header{:class => "navbar navbar-fixed-top" }
  .navbar-inner
    .container
      = link_to "NBA", root_path, id: "logo"
      %nav
        %ul{:class => "nav pull-right"}
          - if current_user
            %li
              = link_to('Logout', destroy_user_session_path, :method => :delete)
          - else
            %li
              = link_to('Login', new_user_session_path)